.container {
    height: 215px;
    position: sticky !important;
    top: 64px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10px;
}

.title{
    margin-top: 5px;
}

.separator {
    width: 100%;
}

.total{
    align-self: flex-end;
    margin-right: 5px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    column-gap: 10px;
    text-align: end;

    color: var(--disabled-color);
}

.text {
    width: 100px;
}

.bold {
    font-weight: var(--font-weight-l);
}

@media (max-width: 768px) {
    .container {
        position: relative !important;
        top: 0;
        width: calc(100vw - 20px);
        margin: 0 10px;
        height: 130px;
    }

    .floatingBlock {
        display: none !important;
    }
}