.container {
    display: grid;
    grid-template-columns: 900px 300px;
    grid-template-areas: "items checkout";
    min-height: 150px;
    column-gap: 10px;
}

.items {
    grid-area: items;
}

.checkout {
    grid-area: checkout;
}

@media (min-width: 769px) {
    .floatingBlock {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .floatingBlock {
        position: sticky;
        bottom: 0;
        background-color: white;
        padding: 12px 10px;
    }
}