.cell {
    height: 150px;
}

@media (max-width: 768px) {
    .cell {
        width: calc(100vw - 20px);
    }
}


.description {
    margin-top: 5px;
    height: 32px;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    text-wrap: wrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.title {
    font-size: var(--font-size-m);
}

.price {
    height: 30px;
}

.priceAndDeleteContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    row-gap: 50px;
}

.delete {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 5px;
    color: var(--disabled-color);
}