:root {
  --border-color: #e0e0e0;
  --border-radius: 12px;

  --active-color: #447bba;
  --disabled-color: #99a2ad;

  --dark-theme-background: #121212;

  --font-size-s: 14px;
  --line-height-s: 16px;

  --font-size-m: 15px;

  --font-weight-l: 600;

}

body {
  margin: 0;
  padding: 0;
}

